body{
  margin: 0;
  padding: 0;
  transition: all .5s ease;

  &.dark{
    background-color: #232324;
  }
}

.nav{
  align-items: center;
  border-bottom: 1px solid #666;
  display: flex;
  flex-flow: row nowrap;
  height: 4rem;
  justify-content: space-between;
  margin-top: -1rem;
  padding: .5rem;
  position: sticky;
  top: 0;
  transition: all .5s ease;

  body.dark &{
    background-color: #000;
    color: #fff;
    
    a{
      color: #fff;
    }
  }
}

.links{
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  justify-content: space-evenly;
  width: 80%;
}

.card{
  border: 1px solid #000;
  height: 300px;
  margin-top: 2rem;
  width: 300px;
}

.switch{
  background: #343d5b;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  position: relative;

  &::after{
    background-color: #f1f1f1;
    border-radius: 5rem;
    box-shadow: 0 0 2px 2px rgba($color: #000000, $alpha: 0.2);
    content: '';
    display: block;
    height: 2.2rem;
    left: 0;
    position: absolute;
    right: unset;
    top: 0;
    transition: all .3s ease;
    width: 2.2rem;
  }
  &.active{
    background-color: orange;
    color: #000;
    &::after{
      left: unset;
      right: 0;
    }
  }

  span{
    background: none;
    color: #fff;
    display: block;
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
  }
}

// .dark{

  
//   nav{
//     background-color: #000;

//     .logo__container{
//       color: #fff;
//     }

//     .links li a{
//       color: #fff;
//     }
//   }
// }