// Theme 1
// Background-color
$white: #F7F0F5;
// Borders
$gray: #e5e5e2; 
// Theme 2

$decorator-1: #EA7317;
$decorator-2: #0496FF;

$optional-1:#006BA6;
$optional-2: #02182B;

$dark-1: #191716;
$dark-2: #070600;
$dark-3: #020300;

$dark-gray: #262730;

// $x: #DDCECD;
*{
  font-family: 'Noto Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  transition: all .5s ease;
  background-color: $white !important;
  overflow-x: hidden;

  &.dark{
    background-color: $dark-1 !important;
  }
}

.card{
  border: 1px solid #000;
  height: 300px;
  margin-top: 2rem;
  width: 300px;
}


// .dark{

  
//   nav{
//     background-color: #000;

//     .logo__container{
//       color: #fff;
//     }

//     .links li a{
//       color: #fff;
//     }
//   }
// }