* {
  font-family: 'Noto Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  transition: all .5s ease;
  background-color: #F7F0F5 !important;
  overflow-x: hidden;
}

body.dark {
  background-color: #191716 !important;
}

.canvas__container {
  border: 1px solid #000;
  height: 500px;
  margin-top: 2rem;
  width: 500px;
  color: #000;
}
